body {
    padding-top: 100px;    
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.row .col-md-2 {   
    margin-left: 30px;
    margin-top: 50px;
    
}

.welcome {   
    color:blue;
    text-align: center;
    font-size: 20px;
}


.paragraph {
    font-size: 16px;
}

.row {
    padding-top: 30px;
    height: 400px; 
  
    margin-right: 5px;
    margin-left: 5px;   
    color: skyblue;
    text-align: center;
}

.navbar-inverse{
    background-color: black;
    border-color: red;
    height: 120px;
    font-size: 15px;    
}
